    <header class="header black-bg">
        <!--logo start-->
        <a href="index.html" class="logo"><b><%= Title %></b></a>
        <!--logo end-->

        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><a class="logout" href="/logout">Logout</a></li>
            </ul>
        </div>
    </header>



